{% extends "layout.html" %}

{% block content %}
<header>
  <h1 class="title">Helmet Detection </h1>
</header>
    <div>
        <h5 class="sectitle">Detected Image</h5>
        <a href="/static/detections/{{display_detection}}" target="_new">
          <img src="/static/detections/{{display_detection}}" class="upload-image-thumb"></a>
    </div>
    <div>
        <form class="form-upload" action = "/uploader" method = "POST" enctype = "multipart/form-data">
          <p class="sectitle">Want to detect more...!</p>
          <input class="form-control" type = "file" name = "file" />
          <button class="btn btn-lg btn-primary btn-block" type="submit">Predict</button>
          <p></p>
          <a class="mt-5 mb-3 text-muted" href="https://pratik-98.github.io/CV/">&copy; Pratik Ghadge</a>
        </form>
    </div>

{% endblock %}
